<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <head>
        <nav>
            <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="/addbook">ADD</a>
                <a href="/books">books</a>
                <input type="text" placeholder="Search..">
              </div>
        </nav>
    </head>
<main>
    <% books.forEach(element=>{
         %>
         <div>user:<%= element.uploaded_by%></div>
         <div><%= element.title%></div>
         <div><%= element.descreption%></div>
         <div><%= element.page%></div>
         <div><%= element.author%></div>
        <%
        })
        %>
</main>
</body>
</html>